<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/stile.css">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link rel="stylesheet" href="https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mi primer documento en HTML</title>
</head>
<body>
   <header>
       <div class="contenedor-logo-texto-barra">
            <div class="logo-barra">
                <div><img width="70%" src="/img/logo-mercado-liebre.svg" alt=""></div>
                <form action="" method="">
                <label><input type="text" placeholder="buscar productos, marcas ">
                <i id="lupa" class="fas fa-search"></i></label>
                </form>
            </div>
            <br>
            <div id="signo">
                <i id="mano-dinero" class="fas fa-hand-holding-usd"></i> 
                <h2>Compra en cuotas y sin tarjeta de credito</h2>
            </div>
        </div> 
    <nav class="navegar">
        <ul class="anclas-izq">
            <li><a href="">Oferta</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
           
        </ul>

        <ul class="anclas-der">
           <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li> 
           <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
           <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li> 
        </ul>
    </nav>
    <div id="hamburguesa">      
        <i class="fas fa-bars"></i>
    </div>
   </header>
   <main>
    <section id="a">
        <div id="baner"><img width="100%" src="/img/img-home-banner.jpg" alt=""></div>
        <h2> <b>Basado en la ultima vista</b> </h2>
        <div class="contenedor-section-ab">
            <div class="contener">
                <img  src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="track">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                    <h4>$6.770</h4> 
                    <h6>40% off</h6>
                    </div> 
                    <h5> Cafetera Moulinex</h5>
                </div>
            </div>
            <div class="contener">
                <img  src="/img/img-macbook-pro-2019.jpg" alt="">
                <div class="track">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <h4>$230.000</h4>
                        <h6>20% off</h6>
                    </div>
                    <h5> MacBook Pro 2019</h5>
                </div>
            </div>
            <div class="contener">
                <img  src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="track">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <h4>$70.500</h4>
                        <h6>10% off</h6>
                    </div>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </div>
            <div class="contener">
                <img  src="/img/img-tv-samsung-smart.jpg" alt="">
                <div class="track">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento"> 
                        <h4>$23.200 </h4>
                        <h6>5% off</h6>
                    </div>
                    <h5>SmartTv Samsung 43"</h5>
                </div> 
            </div>
        </div>
</section><br>

<section id="b">
    <h2><b>Ofertas</b></h2>
         <div class="contenedor-section-ab">
            <div class="contener">
                <img  src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="track">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                    <h4>$6.770</h4> 
                    <h6>40% off</h6>
                    </div> 
                    <h5> Cafetera Moulinex</h5>
                </div>
            </div>
            <div class="contener">
                <img  src="/img/img-macbook-pro-2019.jpg" alt="">
                <div class="track">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <h4>$230.000</h4>
                        <h6>20% off</h6>
                    </div>
                    <h5>MacBook Pro 2019</h5>
                </div>
            </div>
            <div class="contener">
                <img  src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="track">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <h4>$70.500</h4>
                        <h6>10% off</h6>
                    </div>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </div>
            <div class="contener">
                <img  src="/img/img-tv-samsung-smart.jpg" alt="">
                <div class="track">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento"> 
                        <h4>$23.200 </h4>
                        <h6>5% off</h6>
                    </div>
                    <h5>SmartTv Samsung 43"</h5>
                </div> 
            </div>
        </div>
    <br>
</section>

</main>
<footer>
  <div class="footer">  
    <section>
        <div id="card"><i class="fas fa-credit-card"></i></div>
            <article> <div id="titulo"><b>Pagá con tarjeta o en efectivo</b></div>   
            <div id="parrafo">Mercado Liebre Cash, tenés cuotas sin <br>
            interéscon tarjeta o efectivo en puntos de <br>
            pago. ¡Y siempre es seguro!</div>
            </article>
    </section><br>
    <section>
        <div id="card"><i class="fas fa-gift"></i></div>
            <article> <div id="titulo"><b> Envío gratis desde $ 2.500</b></div>
            <div id="parrafo"> Solo por estar registrad@ en Mercado Liebre <br>
                tenés envíos gratis en miles de productos. Es <br>
                un beneficio de Mercado Puntos.</div>
            </article>
    </section><br>
    <section>
        <div id="card"><i class="fas fa-user-shield"></i></div>
            <article> <div id="titulo"><b>Seguridad, de principio a fin</b></div> 
            <div id="parrafo">¿No te gusta? ¡Devolvelo! En MercadoLiebre <br>
                no hay nada que no puedas hacer porque estás <br>
                siempre protegid@.</div>
            </article>
    </section>
    </div>
    <section>
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L.> </p>
    </section>

</footer>
</body>
</html>
